html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body{
    
    margin: 30px 50px;
    line-height: 1.4;
}



.namn {
    display: none;
}


#icon1{
    float: left;
    
}


.wrapper{
    display: grid;
    grid-gap: 20px;
}

.main-nav ul{
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    box-shadow:  0 2px 10px rgba(95, 92, 92, 0.8); 
    
}
.main-nav ul ul{
    position: absolute;
    min-width: 270px;
    background: lightgrey;
    display: none;
}

.main-nav ul li{

    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    line-height: 100%;
    text-align: center;
    font-size: 25px;
}

.main-nav a{
    background: rgb(138, 138, 138);
    display: block;
    text-decoration: none;
    padding: 0.3rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
}
.main-nav ul li ul li{
  
    position: relative;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
       
}



.main-nav ul li i {
      color: wheat;
      float: right;
      padding-left: 18px;
}
.main-nav div{
      background: lightgrey;
      color: #292929;
      font-size: 24px;
      padding: 0.6em;
      cursor: pointer;
      display: none;
}
.main-nav a:hover{
    background: rgb(78, 85, 87);
    color: white;
        
}
.team-Med
{
    background-image: url(2206CR439_1.jpg);
    text-align: inherit;
    padding: 3rem;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    box-shadow:  0 2px 60px rgba(104,104,104,0.8); 
    border-radius: 3%;
  
}
.profile img{
    width: 60%;
    height: 40%;
    margin: auto 25%;
    padding: 10px;
    border-radius: 200px;
   
}
#InfoJ{
    background: rgba(17, 17, 17, .3);
    width: 50%;
    margin: auto 5%;
    padding: 6rem;
    color: white;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(95, 92, 92, 0.8);
}

@media(max-width: 700px){
    .top-container{
        grid-template-areas: 
           'slide';
    }
    #top-container-h1{
        font-size:2.5rem;

    }
 
   
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .main-nav ul li ul li{
        grid-template-columns: 1fr;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .team-Med{
        grid-template-columns: 1fr;
    }
    
}

 
@media(max-width: 768px) {
      .main-nav div {
            display: block;
      }
 
     .main-nav ul {
            display: none;
            position: static;
            background: black;
      }
 
      .main-nav ul li {
            display: block;
      }
 
      .main-nav ul ul {
            position: static;
            background: #e3e3e3;
      }
}
   #Skill1{
    width: 80%;
    animation: animate 5s;
    height: 25px;
    background-color: blue;

}
@keyframes animate {
    from {
    width: 0px;
}
to {
    width: 80%
}
}
#Skill2{
    width: 60%;
    animation: animate 5s;
    height: 25px;
    background-color: blue;

}
@keyframes animate {
    from {
    width: 0px;
}
to {
    width: 60%
}
}
#Skill3{
width: 95%;
animation: animate 5s;
height: 25px;
background-color: blue;

}
@keyframes animate {
from {
width: 0px;
}
to {
width: 95%
}
}
#Skill4{
width: 50%;
animation: animate 5s;
height: 25px;
background-color: blue;

}
@keyframes animate {
from {
width: 10px;
}
to {
width: 55%
}
}




footer{

    margin-top: 0.1rem;
    background: rgb(138, 138, 138);
    color: white;
    text-align: center;
    padding: 0.01rem;
}





._14 {
font-size: 1.3em;
}
ul {
    padding: 0;
    list-style: none;
    
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: beige;
}
ul.social-icons {
    margin-top: 5%;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    
}
.social-icons a {
    color:burlywood;
    text-decoration: none;
}
 .facebook, .twi, .insta{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
} 
 



.insta:hover {
    background-color:brown;
    }
.twi:hover {
    background-color: #00aced;
}
.facebook:hover {
    background-color: dodgerblue;
}
